node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
google-generated-credentials.json
_START_PACKAGE
.env
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json
.idea
nodelinter.config.json
*.swp

# yarn
yarn-error.log
.yarn/cache
.yarn/*.gz
.yarn/build-state.yml

# turborepo
packages/*/.turbo/
